body {
  margin: 0;
  padding: 20px;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5f5f5;

  font-family: sans-serif;

}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

button {
  padding: 15px 30px;

  font-size: 18px;

  border: none;
  border-radius: 10px;

  background-color: black;
  color: white;

  cursor: pointer;
}


.container {

  max-width: 500px;

  margin: 0 auto;

  text-align: center;

}

button {

  width: 100%;

  padding: 14px;

  font-size: 18px;

  border: none;

  border-radius: 10px;

  cursor: pointer;

}

input {

  width: 100%;

  padding: 12px;

  font-size: 18px;

  box-sizing: border-box;

}

h1 {

  margin-bottom: 40px;

}

#startScreen,
#playerCountScreen,
#nameInputScreen,
#messageScreen,
#passScreen{

  background: white;

  padding: 30px;

  border-radius: 12px;

  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}

#resultScreen {

  padding: 50px;

}

#resultName {

  font-size: 56px;

  margin-bottom: 30px;
}

#resultMessage {

  font-size: 32px;

  line-height: 1.6;

  background: #f8f8f8;

  padding: 30px;

  border-radius: 16px;
}